$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-cyan: hsl(167, 40%, 24%);
$footer: hsl(167, 44%, 69%);
$dark-blue: hsl(198, 62%, 26%);
$dark-footer: hsl(168, 34%, 41%);
$very-blue: hsl(212, 27%, 19%);
$dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);
