li {
  list-style: none;
  display: inline;
  cursor: pointer;
  margin-right: 20px;
}
li.navbar {
  font-family: $font-barlow;
  color: $white;
}

li.navbar:last-of-type {
  font-family: $font-fraunces;
  font-size: 13px;
  font-weight: 900;
  text-transform: uppercase;
  background-color: $white;
  color: $very-blue;
  border-radius: 30px;
  border: 3px solid $white;
  cursor: pointer;
  padding: 9px;
  transition: transform 0.3s, background-color 0.5s;
  &:last-of-type:hover {
    transform: scale(1.02);
    color: $white;
    border: 3px solid rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0.397);
  }
}
