@import "fonts";
@import "colors";
@import "buttons";
@import "sectionGraphics";
@import "sectionTestimonials";
@import "sectionImages";
@import "footer";
@import "navbar";
@import "header";

body {
  background-color: $white;
  font-family: $font-fraunces;
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
